.ReactTags__tags {
  position: relative;
}

.ReactTags__clearAll {
  cursor: pointer;
  padding: 10px;
  margin: 10px;
  background: #f88d8d;
  color: black;
  border: none;
}

.ReactTags__tagInput {
  border-radius: 2px;
  display: inline-block;

  input.ReactTags__tagInputField {
    height: 20px;
    margin: 0;
    padding-right: 2px;
    padding: 1px;
    font-size: 14px;
    border: 0px solid #eee;
    width: 100%;

    &:focus {
      /* height: 32px;
      margin: 0;
      padding: 5px; */
      font-size: 14px;
      border: 1px solid #eee;
    }
  }
}

.ReactTags__editInput {
  border-radius: 1px;
}

.ReactTags__editTagInput {
  display: inline-flex;
}

.ReactTags__remove {
  display: flex;
}

.ReactTags__selected {
  display: flex;
  justify-content: start;

  span.ReactTags__tag {
    border: 0px solid #ddd;
    background: #fffed7;
    color: black;
    font-size: 14px;
    padding: 1px;
    margin: 0 1px;
    border-radius: 6px;
    display: flex;
    align-items: center;
  }
}

.ReactTags__suggestions {
  position: absolute;

  ul {
    list-style-type: none;
    box-shadow: 0.05em 0.01em 0.5em rgba(0, 0, 0, 0.2);
    background: white;
    width: 200px;
    padding: 5px 0;
    color: black;
  }

  li {
    padding: 5px 10px;
    margin: 0;
    text-align: left;

    mark {
      text-decoration: underline;
      background: none;
      color: black;
    }

    &.ReactTags__activeSuggestion {
      background: #4dabf7;
      color: #fff;
      cursor: pointer;

      span mark {
        color: #fff;
      }
    }
  }
}

.ReactTags__remove {
  border: none;
  cursor: pointer;
  background: none;
  color: black;
  padding: 5px;
}

.ReactTags__error {
  color: #e03131;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    padding: 0 5px;
  }
}
